OPENAI_API_KEY=
GEMINI_API_KEY=
QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
REDIS_URL=redis://localhost:6379
SUBTITLE_ROOT=class-subtitle
OPENAI_MAIN_MODEL=gpt-4o
OPENAI_SMALL_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
MEM0_API_KEY=
