OPENAI_API_KEY=
GEMINI_API_KEY=
DATABASE_URL=
MONGODB_URI=
SUBTITLE_ROOT=class-subtitle
OPENAI_MAIN_MODEL=gpt-4o
OPENAI_SMALL_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
MEM0_API_KEY=
